:root {
  //colors
  --color-grey:         #1E1E1E;
  --color-grey-dark:    #062231;
  --color-grey-light:   #EFEFEFFF;
  --color-white:        #FFFFFF;
  --color-crimson-red:  #FF2742;
  --color-royal-blue:   #1DB2F5;

  //font-weights
  --font-weight-thin:     100;
  --font-weight-regular:  400;
  --font-weight-bold:     700;
}