:root {
  --color-peachy-cream: #FEE3D3;
  --color-charcoal-gray: #373A36;
  --color-white: #FFFFFF;
  --color-crimson-red: #C93D3F;

  //font-weights
  --font-weight-thin: 100;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}